
.commentBox {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2;
}

.comment-list{

    display:  flex;
    flex-direction: column;

}

ul{
    display: flex;
    gap: 5px;
    list-style-type: none;
}

ul > li {
    margin: 5px;
}